@value primary: #498a59;
@value primaryColor: #498a59;
@value darkPrimaryColor: #cfc19d;
@value background: #e0d4cd;
@value secondaryColor: #aaaaaa;

.pageContainer {
  margin: 0;
  padding: 0;
  font-family: 'Inter', Arial, sans-serif;
  background-color: background;
  color: primaryColor;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.bg {
  background-color: background;
  color: primaryColor;
  padding: 0;
  width: 100%;
  height: 100vh;
}

.container {
  display: flex;
  flex-direction: row;
  width: 60%;
  margin: 20px auto;
  border: 1px solid #ccc;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: darkPrimaryColor;
  color: primaryColor;
  border-radius: 10px;
}

.videoPlaceholder {
  flex: 1;
  height: 400px;
  border-right: 1px solid #ccc;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f0ede5;
  border-radius: 10px 0 0 10px;
}

.scrollableSection {
  flex: 1;
  padding: 20px;
  background-color: #f0ede5;
  border-radius: 0 10px 10px 0;
}

.scrollableContainer {
  max-height: 200px;
  overflow-y: auto;
  border: 1px solid #ccc;
  padding: 10px;
  margin-top: 10px;
  background-color: #f0ede5;
  border-radius: 5px;
}

.log ul {
  list-style-type: none;
  padding: 0;
}

.log li {
  background-color: #f9f9f9;
  margin: 5px 0;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.Titlebar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: background;
  color: primaryColor;
  border-bottom: 1px solid #ccc;
}

.title {
  font-size: 50px;
  font-weight: 600;
  margin-left: 0px;
  color: primaryColor;
  text-decoration: none;
  margin-left: -75%;
}

.menu {
  display: flex;
}

.menuItems {
  display: flex;
  gap: 20px;
  list-style: none;
  margin-right: 20px;
  font-weight: 600;
}

.menuItems a {
  font-size: 25px;
  color: primaryColor;
  text-decoration: none;
}

.menuItems a:hover {
  color: #3b7047;
}

.aboutTitle {
  display: flex;
  justify-content: center;
  padding: 20px;
  background-color: background;
  color: primaryColor;
}

.aboutDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  background-color: background;
  flex-direction: row;
  width: 70%;
  margin: 10px auto;
  font-size: 30px;
  color: black;
}

.aboutDiv a {
  text-decoration: none;
  color: primaryColor;
  flex-direction: row;
}

.logo {
  width: 100px;
  height: 100px;
}

.imageBig {
  width: 300px;
  height: 300px;
  align-items: center;
  justify-content: center;
  display: flex;
  margin: 0 auto;
}
